<div class="mt-4">
    <h3>Thung rac</h3>
    <a href="/me/courses">Tro ve danh sach khoa hoc</a>
        <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Ten khoa hoc</th>
            <th scope="col">Trinh do</th>
            <th scope="col">Thoi gian tao</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khoi phuc</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#DeleteModal">Xoa vinh vien</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5">Thung rac trong</td>
            </tr>
            {{/each}}
        </tbody>
        </table>
</div>
{{!-- Confirm Delete --}}
<div id="DeleteModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa khoa hoc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Xoa hoc se bij xoa vinh vien va khong the khoi phuc. Chac chan muon xoa?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger" >Xoa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huy</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-course" method="POST"></form>
<form name="restore-course" method="POST"></form>
<script>
    document.addEventListener('DOMContentLoaded', function(){
        var Courseid;
        var deleteForm = document.forms['delete-course']
        var restoreForm = document.forms['restore-course']
        var restoreBtn = $('.btn-restore')
        $('#DeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            Courseid = button.data('id')
        });
        var btndeletecourse = document.getElementById('btn-delete-course')
        btndeletecourse.onclick = function(){
            deleteForm.action = '/courses/' + Courseid + '/harddelete?_method=DELETE';
            deleteForm.submit();
        }
       restoreBtn.click(function(e){
         e.preventDefault()
         var coursesid = $(this).data('id')
         restoreForm.action = '/courses/' + coursesid + '/restore?_method=PATCH';
            restoreForm.submit();
       })
    });
</script>