<form method="post" class="mt-4" name="container-form" action="/courses/handle-form-actions">
    <h3>Khoa hoc cua toi</h3>
    <a href="/me/trashcourses">Thung rac ({{deletedcount}})</a>
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check ">
        <input class="form-check-input" type="checkbox" value="" id="selectAll">
        <label class="form-check-label" for="selectAll">
          Chon tat ca
        </label>
      </div>
      <select class="form-control form-control-sm select-checkbox" name="action" required>
        <option value="">--Chon--</option>
        <option value="delete">Xoa</option>
      </select>
      <button class="btn btn-primary btn-sm disabled submitbtn">Thuc hien</button>
    </div>
        <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Ten khoa hoc</th>
            <th scope="col">Trinh do</th>
            <th scope="col">Thoi gian tao</th>
            <th scope="col" colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>   
                  <div class="form-check ">
                  <input class="form-check-input" type="checkbox" name="coursesid[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sua</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-toggle="modal" data-target="#DeleteModal">Xoa</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5">Khong co khoa hoc nao <a href="/courses/create">Tao khoa hoc</a></td>
            </tr>
            {{/each}}
        </tbody>
        </table>
</form>
{{!-- Confirm Delete --}}
<div id="DeleteModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoa khoa hoc</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ban chac chan muon xoa khoa hoc nay?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger" >Xoa</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huy</button>
      </div>
    </div>
  </div>
</div>
<form name="delete-course" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        var Courseid;
        var deleteForm = document.forms['delete-course']
        var checkboxAll = $('#selectAll')
        var itemscheckbox = $('input[name="coursesid[]"]')
        var submitbtn = $('.submitbtn')
        var containerform = document.forms['container-form']
        $('#DeleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            Courseid = button.data('id')
        });
        var btndeletecourse = document.getElementById('btn-delete-course')
        btndeletecourse.onclick = function(){
            deleteForm.action = '/courses/' + Courseid + '?_method=DELETE';
            deleteForm.submit();
        }
        // chon tat ca
        checkboxAll.change(function(){
          var ischecked = $(this).prop('checked')
          itemscheckbox.prop('checked',ischecked)
          renderSubmitBtn()
          
        })
        // Check Submit
        
       
        // Huy chon tat ca khi huy tren tung item
        itemscheckbox.change(function(){
          var checkAll = itemscheckbox.length === $('input[name="coursesid[]"]:checked').length
          checkboxAll.prop('checked',checkAll)
          renderSubmitBtn()
        })
        // Khi tich vao sp moi hien thi nut submit
        function renderSubmitBtn(){
          var countbtn = $('input[name="coursesid[]"]:checked').length
          if(countbtn >0){
            submitbtn.removeClass('disabled')
          }
           else submitbtn.addClass('disabled')
           
        }
         submitbtn.on('click', function(e){
          var isSubmittable = !$(this).hasClass('disabled')
          if(!isSubmittable){
            e.preventDefault()
          }
        })
    });
</script>